@media (max-width: 787px){

}

#welcome-section{
    height: 100vh;
}

#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgba(218, 187, 120, 0.856);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}